In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline

#21bai1018

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving Data.csv to Data (3).csv

In [ ]:
import io 
df_data = pd.read_csv(io.BytesIO(uploaded['Data.csv'])) 
print(df_data)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

CREATE THE DATAFRAME

In [ ]:
raw_data = {
    'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
    'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
    'age': [42, np.nan, 36, 24, 73],
    'sex': ['m', np.nan, 'f', 'm', 'f'],
    'preTestScore': [4, np.nan, np.nan, 2, 3],
    'postTestScore': [25, np.nan, np.nan, 62, 70]
}
df = pd.DataFrame(raw_data, columns=['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])

DROP ROWS WITH ANY NAN VALUES

In [ ]:
df = df.dropna()
df

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

create a new column "location" with NaN values

In [ ]:
df['location'] = np.nan
df

  first_name last_name   age sex  preTestScore  postTestScore  location
0      Jason    Miller  42.0   m           4.0           25.0       NaN
3       Jake    Milner  24.0   m           2.0           62.0       NaN
4        Amy     Cooze  73.0   f           3.0           70.0       NaN

drop columns with only NaN values

In [ ]:
df = df.dropna(axis=1, how='all')
df

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

drop rows with less than 4 observations

In [ ]:
df = df.dropna(thresh=4)
df

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

fill all missing values with 0

In [ ]:
df = df.fillna(0)
df

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

select rows where age and sex do not contain missing values

In [ ]:
df = df[(~df['age'].isna()) & (~df['sex'].isna())]
df

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

PART 2

In [ ]:
dataSet = pd.read_csv('Data.csv', header=None, names=['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])
X = dataSet.iloc[:,:-1].values #dataSet is data frame object.
y= dataSet.iloc[:,:3].values
print(X)
print(y)
df

[['Country' 'Age' 'Salary' 'Purchased' nan]
 ['France' '44' '72000' 'No' nan]
 ['Spain' '27' '48000' 'Yes' nan]
 ['Germany' '30' '54000' 'No' nan]
 ['Spain' '38' '61000' 'No' nan]
 ['Germany' '40' nan 'Yes' nan]
 ['France' '35' '58000' 'Yes' nan]
 ['Spain' nan '52000' 'No' nan]
 ['France' '48' '79000' 'Yes' nan]
 ['Germany' '50' '83000' 'No' nan]
 ['France' '37' '67000' 'Yes' nan]]
[['Country' 'Age' 'Salary']
 ['France' '44' '72000']
 ['Spain' '27' '48000']
 ['Germany' '30' '54000']
 ['Spain' '38' '61000']
 ['Germany' '40' nan]
 ['France' '35' '58000']
 ['Spain' nan '52000']
 ['France' '48' '79000']
 ['Germany' '50' '83000']
 ['France' '37' '67000']]

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [ ]:
from sklearn.impute import SimpleImputer

 create imputer instance with "mean" strategy

In [ ]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)
imputer

SimpleImputer()

impute missing values in "age" and "preTestScore" columns

In [ ]:
imputer =imputer.fit(df_data[['Age', 'Salary']])
df_data[['Age', 'Salary']] = imputer.transform(df_data[['Age', 'Salary']])
df_data

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

PART 3

In [10]:
import pandas as pd
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
raw_df

,0,1,2,3,4,5,6,7,8,9,10
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...
1007,396.90000,5.64,23.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,0.10959,0.00,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0
1009,393.45000,6.48,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,0.04741,0.00,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0
1011,396.90000,7.88,11.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN